@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kdam+Thmor+Pro&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap");
 /*Variables*/
:root{
    --color-primario: rgb(255, 255, 255);
    --color-secundario: rgb(0, 0, 0);
    --color-terciario:rgb(232, 254, 254);
    --color-titulo-botones: turquoise;
    --color-header-footer: rgb(5, 0, 34);

    --fuente-monserrat: "Monserrat", sans-serif;
    --fuente-krona: "Krona", sans-serif;
}

/*Valores basicos*/
* {
    margin: 0;
    padding: 0;
    width: 100hv;
    height: 100hv;
}
/* Estilo para el canvas */
#canvas {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
body, html {
    position:relative;
          z-index: 1;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
}
/*Cabezera*/
.header {
    position: relative;
    z-index: 2;
    font-family: var(--fuente-krona);
  font-size: 1rem;
  font-weight: 500;
    padding: 1% 0% 1% 10%;
    background-color: var(--color-header-footer);
    display: flex;
    justify-content: space-between;
    color: var(--color-titulo-botones);
  }
  .volver {
    text-decoration: none;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    border-radius: 8px;
    margin: 0 3% 0 0;
    padding: 1%;
    }
.hidden {
    display: none; /*desaparece  la imagen*/
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.seccionMain{
    background-color: transparent;
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.div_entrada_texto{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60%;
    width: 60%;
    gap: 10px;
}
.sugerencia{
    color: rgb(44, 94, 97);
    font-weight: bold;
    font-size: 0.8rem;
    background-color: rgb(232, 254, 254);
    border-radius: 10px;
    padding: 2%;
    margin: 3%;
}
.cuadro_texto_usuario{
    font-family: var(--fuente-monserrat);
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgb(232, 254, 254);
    padding: 2% 0% 2% 2%;
    overflow-y: scroll;
    resize: none;
}

.cuadro_texto_usuario::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.cuadro_texto_usuario::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo del track */
}

.cuadro_texto_usuario::-webkit-scrollbar-thumb {
    background: gray; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.cuadro_texto_usuario::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra de desplazamiento al pasar el mouse */
}

.caja_btn_cripto{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.btn_cripto{
    background-color: transparent;
    color: var(--color-primario);
    border-color: #14ff9d;
    border-radius: 5px;
    justify-content: space-between;
    height: 4%;
    width: 30%;
    padding: 1.5%;
    margin: 2%;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}
.btn_cripto:hover{
    color: #14ff9d;
    box-shadow: 0 0 10px 2px rgb(102, 102, 102);
}

/*SWITCH DE CAMBIO DE METODO DE ENCRIPTADO*/
.switch_metodo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0% 2% 2% 2%;
    flex-direction: column;
    color: white;
}
.metodoLabel {
    font-size: 1.5rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00d8d5;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #1f38f2;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.div_salida_texto {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5%;
    padding: 0%;
    gap: 10px;
}
.salida_texto{
    cursor: pointer;
    height: auto;
    justify-content: center;
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1rem;
    color: white;
    padding: 0%;
    overflow-y: scroll;
    
    height: 21rem;
    width: 20rem;
}
.salida_texto::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.salida_texto::-webkit-scrollbar-track {
    background: transparent; /* Color de fondo del track */
}

.salida_texto::-webkit-scrollbar-thumb {
    background: gray; /* Color de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados */
}

.salida_texto::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color de la barra de desplazamiento al pasar el mouse */
}
.imagen{
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
    padding: auto;
}

.footer {
    background-color: var(--color-header-footer);
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-monserrat);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0;
  }
  @media (max-width: 1200px){
    .header{
        padding: 2%;
        height: 50%;
    }
    .seccionMain{
        flex-direction: column;
        padding: 5% 20% 5% 10%;
        width: auto;
        align-items: center;
    }
    .cuadro_texto_usuario{
        width: 100%;
        align-items: center;
        padding: 5% 5% 15% 5%;
        margin: 2%;
    }
    .div_salida_texto{
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 2% 10% 0% 5%;
        background-color: transparent;
    }
    .salida_texto{
        width: 100%;
        height: auto;
        padding: 5% 10% 5% 10%;
        overflow-y: scroll;
    }
    .imagen{
        width: 80%;
        height: 100%;
    }
    .btn_cripto{
        width: auto;
        height: auto;
    }
    .footer{
        padding: 2%;
        width: auto;
    }
}

